export ZAI_API_KEY=

export ECOM_LLM_TOKEN=
export ECOM_LLM_EXP_TOKEN=

export JIRA_BASE_URL="https://project.samokat.ru"
export JIRA_TOKEN=

export GITLAB_URL="https://git.ecom.tech"
export GITLAB_TOKEN=

export CONFLUENCE_BASE_URL="https://space.samokat.ru"
export CONFLUENCE_TOKEN=

export MCP_ADR_TOKEN=

export ALLURE_BASE_URL="https://allure-testops-spb.samokat.ru"
export ALLURE_TOKEN=

#
# [[ -r $HOME/.config/opencode/opencode-workspaces.sh ]] && source $HOME/.config/opencode/opencode-workspaces.sh
#