# Qwen models
ECOM_QWEN35_122b_TOKEN=
ECOM_QWEN36_35b_TOKEN=

# DeepSeek models
ECOM_DEEPSEEL4_FLASH_MAX_TOKEN=
ECOM_DEEPSEEL4_FLASH_TOKEN=

# Other models
ECOM_QWEN35_122b_NO_THINK_TOKEN=
ECOM_QWEN36_35b_NO_THINK_TOKEN=
ECOM_GIGA3_10b_TOKEN=
